*     text=auto
*.txt text
*.sh  text eol=lf
*.png binary
*.jpg binary
/tests export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/_config.yml export-ignore
/composer.json export-ignore
